.button {
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: 0;
  outline: none;
  text-decoration: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
}

.button:focus {
  box-shadow: 0 0 0 2px var(--green-500);
}

a.button {
  text-decoration: none;
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.primary {
  --color: var(--green-500);
  background: var(--green-500);
  color: var(--white);
  transition: background-color 0.1s;
}

.primary:not(:disabled):hover {
  --hover: var(--green-300);
  background: var(--green-300);
}

.danger {
  --color: var(--red-500);
  background: var(--gray-700);
  color: var(--red-500);
  transition: background-color 0.1s;
}

.danger:not(:disabled):hover {
  --hover: var(--red-300);
  background: var(--gray-600);
}

.outlined {
  background: transparent;
  color: var(--color, var(--gray-100));
  border: 1px solid var(--color, var(--gray-100));
  transition: color 0.1s, background-color 0.1s;
}

.outlined:not(:disabled):hover {
  background: var(--color, var(--gray-100));
  color: var(--white);
}

.text {
  background: transparent;
  color: var(--color, var(--gray-100));
  transition: color 0.1s;
}

.text:not(:disabled):hover {
  background: transparent;
  color: var(--hover, var(--white));
}
