.modal {
  background: var(--gray-800);
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 8px;
  margin: auto auto;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header {
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--gray-100);
}

.body {
  color: var(--gray-300);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
